* {
    box-sizing: border-box;
  }
header h1,h2{
    color: white;
   align-self: center;

}

  header {
    align-content: center;
    background-color: black;
  }

body{
    background-color: white;
    align-self: auto;

}