@import 'common.css';

body {
  display: initial;
  max-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
}

header > * {
  flex-basis: 33%;
}

header h1 {
  display: none;
}

header h2 {
  flex-grow: 1;
  text-align: center;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

header nav {
  order: -1;
}

header p {
  text-align: right;
}

header p a {
  display: block;
  color: var(--red);
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
}

/* Content */

section#content {
  display: grid;
  grid-template-columns: 60vw 100vw 100vw;
  transform: translateX(-60vw);
  width: 100%;
  transition: transform 500ms;
}

/* Content navigation */

section#content nav {
  background-color: var(--orange);
}

section#content nav ul {
  margin: 1rem;
}

section#content nav ul li {
  margin: 0.5rem 0;
}

section#content nav ul li a {
  color: var(--dark);
  font-weight: bold;
}

/* Notes list */

section#notes {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

section#notes form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

section#notes form fieldset {
  border: 0;
  flex-grow: 1;
  margin-right: 1rem;
}

section#notes form input {
  background: var(--dark);
  color: var(--orange);
  padding: 0.75rem;
  border: 2px solid var(--orange);
  width: 100%;
  background-image: url('/img/search.svg');
  background-repeat: no-repeat;
  background-position: 0.5rem center;
}

section#notes ul {
  list-style: none;
}

section#notes ul li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--gray);
}

section#notes ul li h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}

section#notes ul li p {
  color: var(--gray);
  font-size: 0.75rem;
}
