html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
header {
  background-color: black;
  color: white;
  padding: 3rem 0;
  text-align: center;
}
header h1 {
  font-family: Oswald, sans-serif;
  font-size: 2.5rem;
  margin: 0;
}
header p {
  margin: 0 0 2rem 0;
}
header nav a {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 0.75rem;
}
header nav a strong {
  display: block;
  font-size: 1rem;
}
body main section#principal aside {
  background-color: grey;
  padding: 0.5rem 1rem;
  text-align: center;
}
main section#principal h2 {
  font-size: 1rem;
  margin: 0 0 0.5 0;
}
main section#principal aside p {
  margin: 0;
}
main section#principal > p {
  color: gray;
  font-weight: 700;
  text-align: center;
  margin: 0%;
}
main section#contenido figure {
  margin: 0;
}

@media screen and (min-width: 500px){

}