p {
  padding: 1rem;
  border: 1px solid red;
}

section#content {
  background: rgba(200, 200, 100, 0.3);
  padding: 3rem;
  position: relative;
}

.p1 {
  background: rgb(255, 255, 0);
  position: absolute;
  bottom: 2rem;
  right: 3rem;
}

.p2 {
  background: rgb(33, 66, 0);
  color: white;
}

.p3 {
  background: rgb(255, 120, 32);
  position: relative;
  bottom: 2rem;
  right: 1rem;
  top: 2rem;
  left: 4rem;
}

.p4 {
  background: rgb(44, 111, 200);
}
